<div class="row">
        <div class="col-md-6">
           
        </div>
        <div class="col-md-6">
      <div class="btn-group pull-right">
         <button routerLink="../edit" class="btn btn-dark">Edit</button>
          
       </div>
        </div>
      </div>
      <div *ngIf="client" class="card">
      <h3 class="card-header">{{client.firstName}} {{client.lastName}}</h3>
      <div class="card-body">
        <div class="row">
          <div class="cold-md-8 col-sm-6">
            <h4>Account ID:{{client.accountId}}</h4>
          </div>
      
          <div class="cold-md-8 col-sm-6">
            <h3 class="pull-right">
             
              <span
                [class.text-danger]="hasBalance"
                [class.text-success]="!hasBalance"
              >
             Your Current Debit is ${{client.debit }}
              </span>
              <small>
                 
              </small>
            </h3>
            <div class="clearfix">
              <form *ngIf="showBalanceUpdateInput">
                <div class="input-group">
                  <input type="text" name="balance" class="form-control" [(ngModel)]= "client.balance">
                  <span class="input-group-btn">
                    <button  class="btn btn-primary" (click)="showBalanceUpdateInput=!showBalanceUpdateInput" >Update</button>
                  </span>
      
                </div>
      
              </form>
            </div>
          </div>
      
        </div>
        <hr>
        <ul class="list-group">
          <li class="list-group-item">Contact Email: {{client.email}}</li>
          <li class="list-group-item">Contact Phone: {{client.phone}}</li>
      
        </ul>
      </div>
      <div>
      <h4>Request Status : {{client.status}}</h4></div>
      <hr>
    <h2 cla>Looking for near by officess?</h2>
    <hr>
      <agm-map [latitude]="lat" [longitude]="lng"></agm-map>

      </div>
   